@use "../../../../src/plain-classes/winauto-styles/_winauto.scss";

// Ensure winauto component has proper styling
#winauto {
  margin-bottom: 16px;
}

.windauto-control-label {
  margin-bottom: 8px;
  display: block;
}

#plain-classes-autocomplete {
  margin-bottom: 16px;
  padding: 10px;
  background: #252525;

  

  // general
  --winauto-action: #7b66ff;
  --winauto-bg: #2b2b2b;
  --winauto-bg--hover: #404040;
  --winauto-contrast: white;
  --winauto-contrast-base-2: rgb(215 215 215);
  --winauto-border: #666666;
  --winauto-border-base-2: #666666;
  --winauto-danger: #f00;
}

.winauto-textarea {
  outline: 1px solid #3b3b3b;
  background-color: var(--white);
  min-height: 2rem;
}

.winauto-textarea--item {
  background-color: #3e3e3e;
  padding: 2px 4px;

  &:hover {
    background-color: var(--oxygenActive);
  }
}

// Toggle

.winauto--toggle {
  border: 1px solid #878787;

  & .winauto--toggle_dot {
    background-color: #d7d7d7;
  }

  &.is-checked .winauto--toggle_dot {
    background-color: white;
  }
}

// Dropdown

.winauto-textarea--suggestions {
  list-style: none;
  padding: 0 !important;
}

.winauto-li-hovered {
  background: #009688;
}

.winauto-textarea--suggestions {
  box-shadow: 0 0 19px 8px rgb(0 0 0 / 50%);
}



// * ------------------------------------------------------------------------
// Oxygen 6 specific
// ------------------------------------------------------------------------

.windauto-control-label {
  font-size: var(--text-sm);
  color: var(--gray900);
  font-weight: 600;
  letter-spacing: 0;
  background-color: var(--gray200);
}

.winauto-li-hovered {
  background: var(--oxygenActive);
}

.winauto-textarea--title {
  margin-bottom: 3px !important;
  opacity: 0.3;
}